.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  margin-left: 25px;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 9em;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 50px;
  /* background-color: rgba(0, 255, 0, 0.2); */
}

.site-title-text {
  font-family: "Noto Sans TC";
  font-size: 4em;
  font-weight: 300;
}

.navbar {
  display: flex;
  margin-left: 3.5em;
  align-items: flex-end;
  /* margin-top: 1em; */
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.navbar-text {
  font-family: "Noto Sans TC";
  font-size: 2.5em;
  margin-right: 1em;
  text-decoration: none;
  color: #141212;
}

.navbar-text:visited {
  color: #141212;
}

.underline {
  text-decoration: underline !important;
}

.main-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.page-title {
  font-family: "Alata";
  font-size: 3em;
  display: flex;
  flex-direction: column;
}

.links-list {
  font-family: "Alata";
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}

.link {
  cursor: pointer;
  margin-right: 20px;
  text-decoration: none;
  color: #141212;
}

.link:visited {
  color: #141212;
}

.app-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-width: 725px;
}

.app-picture-container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.selfie-image {
  max-width: 175px;
  max-height: 240px;
  width: auto;
  height: auto;
  border: 3px inset gray;
  border-radius: 4px;
  margin-right: 15px;
}

.about-container {
  display: flex;
  width: 80%;
}

.about-text {
  padding-left: 15px;
  padding-bottom: 10px;
  font-family: "Alata";
}

.about-text-container {
  display: flex;
  flex-direction: column;
}

.app-subcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.app-name {
  font-family: "Alata";
  font-size: 1.5em;
  padding-right: 10px;
}

.app-name-container {
  display: flex;
  align-items: center;
}
